/* app css stylesheet */

#wrapper {
    margin: 0 auto;
    width: 500px;
    margin-top: 50px;
}



.navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    text-shadow: none;
}

.bloco{
    min-height: 40px !important;
    border-right: 1px solid #ffffff;
    min-width: 50px !important;
}
.bloco-cinza{
    background: #616161;
}
.bloco-verde{
    background: #2e8965;
}
.bloco-azul{
    background: #93cbf9!important;
}

.modal,.well,.btn-group>.btn:first-child,.btn-group>.btn:last-child,.btn-group .dropdown-toggle,.btn.btn-app.no-radius,.btn.btn-app.radius-4>.badge.no-radius,.btn.btn-app.no-radius>.badge.no-radius,.chzn-container-single .chzn-single {
    border-radius:0;
}
