<!doctype html>
<html lang="en" ng-app="controleProcesso">
    <head>
        <meta charset="utf-8">
        <title>Controle de Processos</title>        
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="resources/bootstrap/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="resources/skin/css/font-awesome.min.css" />
        <!--[if IE 7]>
          <link rel="stylesheet" href="resources/skin/css/font-awesome-ie7.min.css" />
        <![endif]-->
        <!--fonts-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
        <!--ace styles-->
        <link rel="stylesheet" href="resources/skin/css/ace.min.css" />
        <link rel="stylesheet" href="resources/skin/css/ace-responsive.min.css" />
        <link rel="stylesheet" href="resources/skin/css/ace-skins.min.css" />
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="resources/skin/css/ace-ie.min.css" />
        <![endif]-->
        <link rel="stylesheet" href="resources/css/app.css"/>
        <!--inline styles related to this page-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">
                    <small>
                        <i class="icon-eye-close"></i>
                        Controle de Processos
                    </small>
                </a>
                <ul class="nav pull-right ">
                    <li class="bloco">
                        <a  href="#menuModal" data-toggle="modal">
                            <i class="icon-th"></i>
                        </a>
                    </li>
                    <li class="bloco bloco-cinza">
                        <a href="#">
                            <i class="icon-tasks"></i>
                        </a>
                    </li>
                    <li class="bloco bloco-verde">
                        <a href="#">
                            <i class="icon-calendar"></i> 03/10/1990
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mailson <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Minha Página</a></li>
                            <li><a href="#">Configurações</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="menuModal" class="modal hide fade" 
             tabindex="-1" role="dialog"
             aria-labelledby="menuModal" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="myModalLabel">Menu</h3>
            </div>
            <div class="modal-body">
                <div class="input-append">
                    <input style="width:200px;" class="span2" type="text" required min="1" />
                    <button class="btn btn-primary"  >Pesquisar</button>
                </div>
                <hr class=""/>
                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li>                           
                            <a href="#/evento-diario/listar" data-dismiss="modal" class="btn btn-app btn-primary no-radius">
                                <i class="icon-cog bigger-230"></i>
                                Evento Diário
                            </a>
                        </li>
                        <li>                           
                            <a href="#/cars/list" data-dismiss="modal" class="btn btn-app btn-primary no-radius">
                                <i class="icon-cog bigger-230"></i>
                                Carros
                            </a>
                        </li>
                        <li>
                            <a  href="#/trains" data-dismiss="modal" class="btn btn-app radius-4">
                                <i class="icon-plane bigger-230"></i>
                                Trains
                                <span class="badge badge-pink">+3</span>
                            </a>
                        <li>
                            <a href="#/railwaystations" data-dismiss="modal" class="btn btn-app radius-4"> 
                                <i class="icon-road bigger-230"></i>
                                R. Station
                            </a>
                        </li>
                        <li>
                            <a href="#/cidades" data-dismiss="modal" class="btn btn-app radius-4">
                                <i class="icon-home bigger-230"></i>
                                Cidades
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="wrapper">
            <hr class="" />
            <div ng-controller="IndexController">
                <input type="text" ng-model="date" calendar />
                <input type="text" ng-model="cpf" cpf/>
            </div>
            <div ng-view >

            </div>

        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="resources/js/lib/jquery/jquery.maskedinput.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

        <script src="resources/js/lib/angular/angular.js"></script>
        <script src="resources/js/app.js"></script>
        <script src="resources/js/services.js"></script>
        <script src="resources/js/controllers/RailwayStationController.js"></script>
        <script src="resources/js/controllers/CarController.js"></script>
        <script src="resources/js/controllers/TrainController.js"></script>
        <script src="resources/js/controllers/CidadeController.js"></script>
        <script src="resources/js/controllers/IndexController.js"></script>
        <script src="resources/js/controllers/EventoDiarioController.js"></script>
        <script src="resources/js/filters.js"></script>
        <script src="resources/js/directives.js"></script>
    </body>
</html>
