<h3>Car List</h3>
<div class="controls">
    <a href="#/cars/edit" class="btn btn-primary">
        <i class="icon-gift"></i>
        New Car
    </a>
</div>
<div class="alert alert-info" style="width:400px;" ng-show="cars.length == 0">
    No cars found
</div>
<table class="table table-bordered table-striped" style="width:450px;" ng-show="cars.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Action</th>
            <th style="text-align: center;">Car Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in cars">
            <td  style="width:70px;text-align: center;"><button class="btn btn-mini btn-danger" ng-click="removeCar(car)">Remove</button></td>
            <td>{{car}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger"  ng-show="cars.length > 1" ng-click="removeAllCars()">Remove All Cars</button>